<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tids.clikonservice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClikonService"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.driver.ProductRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.driver.ProfileDriverActivity"
            android:exported="true" />
        <activity
            android:name=".activity.merchant.MerchantProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.technician.TechnicianProfileActivity"
            android:exported="true" />
        <activity android:name=".activity.driver.DailyReportActivity" />
        <activity android:name=".activity.technician.SearchProductActivity" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@style/Theme.AppCompat.NoActionBar"
                    android:windowSoftInputMode="stateHidden" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.technician.StartServiceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.technician.ServiceStatusTechActivity"
            android:exported="true" />
        <activity
            android:name=".activity.technician.ReceivedProductActivity"
            android:exported="true" />
        <activity android:name=".activity.technician.TechnicianHomeActivity" />
        <activity android:name=".activity.driver.StoreActivity" />
        <activity android:name=".activity.driver.CartActivity" />
        <activity android:name=".activity.driver.DriversHomeActivity" />
        <activity android:name=".activity.DemoPagenationActivity" />
        <activity android:name=".activity.merchant.ServiceStatusMainActivity" />
        <activity android:name=".activity.merchant.ServiceStatusSvActivity" />
        <activity android:name=".activity.merchant.RegistrationActivity" />
        <activity android:name=".activity.merchant.StaffHomeActivity" />
        <activity android:name=".activity.LoginActivity" />
    </application>

</manifest>